.plugSata01 {
  /* background: lawngreen; */
  grid-column: 117/125;
  grid-row: 195/200;
}
.plugSata01.pc{
  /* background: lawngreen; */
  grid-column: 102/113;
  grid-row: 195/200;
}
.plugSata01.plugged{
  background: url(../img/sataPlug.png) center/ 100% 100% no-repeat;
}

.plugSata02 {
  /* background: lawngreen; */
  grid-column: 127/136;
  grid-row: 195/200;
}
.plugSata02.pc{
  /* background: lawngreen; */
  grid-column: 116/127;
  grid-row: 195/200;
}
.plugSata02.plugged{
  background: url(../img/sataPlug.png) center/ 100% 100% no-repeat;
}

.plugSata03 {
  /* background: lawngreen; */
  grid-column: 137/146;
  grid-row: 195/200;
}
.plugSata03.pc{
  /* background: lawngreen; */
  grid-column: 129/140;
  grid-row: 195/200;
}
.plugSata03.plugged{
  background: url(../img/sataPlug.png) center/ 100% 100% no-repeat;
}

.plugSata04 {
  /* background: lawngreen; */
  grid-column: 147/156;
  grid-row: 195/200;
}
.plugSata04.pc{
  /* background: lawngreen; */
  grid-column: 143/154;
  grid-row: 195/200;
}
.plugSata04.plugged{
  background: url(../img/sataPlug.png) center/ 100% 100% no-repeat;
}

.plugPSU{
  display: none;
  grid-column: 152/157;
  grid-row: 60/95;
}
.plugPSU.pc{
  grid-column: 149/156;
  grid-row: 60/95;
}

.plugPSU.plugged{
  background: url(../img/psuPlug.png) center/ 100% 100% no-repeat;
}

.plugRecord{
  display: none;
  z-index: 2000;
  grid-column: 130/145;
  /* background: rgb(151, 151, 151); */
  grid-row: 24/34;
}
.plugRecord.plugged{
  display: none;
  z-index: 2000;
  grid-column: 130/132;
  background: rgb(17, 17, 17);
  grid-row: 24/34;
}


.plugRom1{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  /* background: lawngreen; */
  grid-row: 52/59;
}
.plugRom1.plugged{
  display: none;
  z-index: 2000;
  grid-column: 140/142;
  background: red;
  grid-row: 52/59;
}
.plugRom2{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  /* background: lawngreen; */
  grid-row: 73/84;
}
.plugRom2.plugged{
  display: none;
  z-index: 2000;
  grid-column: 140/142;
  background: red;
  grid-row: 73/84;
}

.plugCooler{
  display: none;
  grid-column: 101/106;
  background: lawngreen;
  grid-row: 10/12;
}
.plugCooler.pc{
  grid-column: 81/87;
  background: lawngreen;
  grid-row: 10/12;
}

.plugCooler.plugged{
  background: url(../img/coolerPlug.png) center/ 100% 100% no-repeat;
}