.plugSata01 {
  background: lawngreen;
  grid-column: 117/125;
  grid-row: 195/200;
}
.plugSata01.pc{
  background: lawngreen;
  grid-column: 102/113;
  grid-row: 195/200;
}
.plugged{
  background: url(../img/sataPlug.png) center/ 90% 71% no-repeat;
}
.plugSata02 {
  background: lawngreen;
  grid-column: 127/136;
  grid-row: 195/200;
}
.plugSata02.pc{
  background: lawngreen;
  grid-column: 116/127;
  grid-row: 195/200;
}

.plugSata03 {
  background: lawngreen;
  grid-column: 137/146;
  grid-row: 195/200;
}
.plugSata03.pc{
  background: lawngreen;
  grid-column: 129/140;
  grid-row: 195/200;
}

.plugSata04 {
  background: lawngreen;
  grid-column: 147/156;
  grid-row: 195/200;
}
.plugSata04.pc{
  background: lawngreen;
  grid-column: 143/154;
  grid-row: 195/200;
}

.plugPSU{
  
  grid-column: 152/157;
  background: lawngreen;
  grid-row: 60/95;
}
.plugPSU.pc{
  grid-column: 149/156;
  background: lawngreen;
  grid-row: 60/95;
}

.plugPSU.plugged{
  background: url(../img/psuPlug.png) center/ 100% 100% no-repeat;
}

.plugCooler{
  grid-column: 101/106;
  background: lawngreen;
  grid-row: 10/12;
}
.plugCooler.pc{
  grid-column: 81/88;
  background: lawngreen;
  grid-row: 10/12;
}

.plugRecord{
  display: none;
  z-index: 2000;
  grid-column: 130/145;
  background: lawngreen;
  grid-row: 25/35;
}

.plugRom1{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  background: lawngreen;
  grid-row: 50/60;
}

.plugRom2{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  background: lawngreen;
  grid-row: 75/85;
}
 
.plugRom3{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  background: lawngreen;
  grid-row: 100/110;
} 

.plugRom4{
  display: none;
  z-index: 2000;
  grid-column: 140/155;
  background: lawngreen;
  grid-row: 125/135;
}
