.hardware {
   display: grid;
   height: 95vh;
   grid-template-columns: repeat(200, 0.5%);
   grid-template-rows: repeat(200, 0.5%);
   border: 1px solid var(--backGroundColor);
   border-right: 1px solid var(--detailColor);
}

.dropMother {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   grid-column: 10 / 190;
   grid-row: 10 / 190;
   border: 3px solid var(--primaryColor);
   border-style: dotted;
   border-radius: 7px;

}

.dropMother p {
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
   font-size: 6vh;
   color: var(--primaryColor);
}

.dropMother img {
   max-width: 15%;
   height: auto;
}

.mother {
   display: none;
   grid-template-columns: repeat(200, 0.5%);
   grid-template-rows: repeat(200, 0.5%);
   /* background: url(../img/motherBoard/mother2.png) center / cover no-repeat; */
   background-size: 60% 100%;
   grid-column: 10 / 190;
   grid-row: 2 / 190;
}

.cpu {
   grid-column: 88 / 113;
   grid-row: 40 / 75;
   background-color: rgba(255, 192, 203, 0.61);
}

.cooler {
   display: none;
   z-index: 2000;
   grid-column: 81 / 120;
   grid-row: 28 / 86;
   background-color: rgba(128, 121, 223, 0.514);
}


.ram1 {
   grid-column: 133 / 137;
   grid-row: 17 / 99;
   background-color: rgba(149, 236, 154, 0.329);
}

.ram2 {
   grid-column: 138 / 142;
   grid-row: 17 / 99;
   background-color: rgba(180, 238, 183, 0.8);
}

.pciExpress1 {
   grid-column: 65 / 106;
   grid-row: 184 / 191;
   background-color: rgba(180, 238, 183, 0.8);
}

.m2 {
   display: none;
   grid-column: 69 / 110;
   grid-row: 132 / 151;
   background-color: rgba(180, 238, 183, 0.8);
}


/* PcMode */
.powerSupplySlot {
   display: none;
   background-color: black;
   grid-column: 1 / 75;
   grid-row: 1 / 60;
}

.lateralSlotArea {
   display: none;
   background-color: black;
   grid-column: 140/ 200;
   grid-row: 1 / 200;
}

.motherPcMode {
   display: grid;
   grid-template-columns: repeat(200, 0.5%);
   grid-template-rows: repeat(200, 0.5%);
   /* background: url(../img/motherBoard/mother2.png) left / cover no-repeat; */
   background-size: 90% 97%;
   grid-column: 1 / 140;
   grid-row: 60 / 200;
}

.cpuPcMode {
   grid-column: 70 / 113;
   grid-row: 40 / 75;
   background-color: rgba(255, 192, 203, 0.61);
}

.coolerPcMode {
   grid-column: 61 / 119;
   grid-row: 29 / 86;
   background-color: rgba(128, 121, 223, 0.514);
}

.ram1PcMode {
   grid-column: 133 / 139;
   grid-row: 19 / 98;
   background-color: rgba(180, 238, 183, 0.8);
}

.ram2PcMode {
   grid-column: 140 / 146;
   grid-row: 19 / 98;
   background-color: rgba(149, 236, 154, 0.329);
}

.pciExpress1PcMode {
   grid-column: 37 / 99;
   grid-row: 181 / 188;
   background-color: rgba(180, 238, 183, 0.8);
}

.m2PcMode {
   display: none;
   grid-column: 36 / 106;
   grid-row: 131 / 149;
   background-color: rgba(180, 238, 183, 0.8);
}
