* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  ;
}

.banner {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50),  rgba(0, 0, 0, 0.50)), url(../img/bgIndex.webp);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo {
  width: 125px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 4vh;
  position: relative;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #62B0CB;
  position: absolute;
  left: 0;
  bottom: -1vh;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.navbar ul li a {
  text-decoration: none;
  color: #f4f5f6;
  text-transform: uppercase;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #f4f5f6;
}

.content h1 {
  font-size: 8vh;
  margin-top: 2vh;
}

.content p {
  margin: 1vh auto;
  font-weight: 100;
  line-height: 3.5vh;
}

button {
  width: 200px;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #62B0CB;
  background: transparent;
  color: #f4f5f6;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #62B0CB;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;

}

button:hover {
  border: none;
  color: black;
}

/* About*/
.about {
  width: auto;
  height: 100vh;
  background: black;
}

.guide {
  width: auto;
  height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
}