.lateralMenu {
   display: flex;
   margin-left: 4%;
   height: 98vh;
   width: 96%;
   flex-direction: column;
   overflow: auto;
   align-items: space-between;
}

#partsTabs {
   height: 78%;
   flex-wrap: wrap;
}

.titleTab {
   display: inline;
   text-align: center;
   height: 18%;
   width: 45%;
   margin: 1%;
   color: var(--primaryFontColor);
   background-color: var(--primaryColor);
   border: none;
   border-radius: 5px;

   outline: none;
   cursor: pointer;
   transition: 0.3s;
}

.titleTab.docked{
   background-color: var(--compatible);
}

.titleTab p {
   margin: 0;
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
   font-size: 125%;
}

.titleTab:hover {
   background-color: var(--backGroundColor);
   color: var(--secondaryFontColor);
}

.titleTab:disabled {
   background-color: var(--errorColor);
   color: var(--primaryFontColor);
}

#optionsLateralMenu {
   display: flex;
   flex-direction: column;
   margin-top: 13%;
   width: 97%;
   height: 18%;
}

#optionsLateralMenu button {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1%;
   height: 5vh;
   border: none;
   border-radius: 5px;

   outline: none;
   cursor: pointer;
   transition: 0.3s;
}

#optionsLateralMenu p {
   margin: 0;
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
   font-size: 125%;
}

.imgOptionsButton {
   margin-right: 2%;
   font-size: 125%;
}

.buttonFinish {
   color: var(--primaryFontColor);
   background-color: var(--primaryColor);
}

.buttonReset {
   color: var(--primaryFontColor);
   background-color: var(--errorColor);
}

#optionsLateralMenu button:hover {
   background-color: var(--backGroundColor);
   color: var(--secondaryFontColor);
}

#dropableParts {
   margin-top: 1.5%;
   overflow: auto;
   display: flex;
   flex-direction: column;
   height: 83%;
   width: 100%;
}

.tab {
   display: none;
   flex-direction: column;
   height: 100%;
   margin-bottom: 1%;
   overflow: auto;
}

#titleSection {
   display: flex;
   flex-direction: row;
   height: 4%;
   width: 100%;
   justify-content: space-around;
   align-items: center;
}

#titleSection p {
   margin: 0px;
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
   font-size: 125%;
}

.titleSectionIcon {
   font-size: 125%;
}

.titleSectionIcon:hover {
   color: var(--primaryColor);
}

.detailsHardware {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 4%;
   background-color: var(--primaryColor);
   border-bottom: 1px solid var(--detailColor);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

/* .verticalLine {
   height: 50%;
   border-left: 1px solid var(--backGroundColor);
} */

.detailsHardware button {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   font-weight: bold;
   background-color: var(--primaryColor);
   color: var(--primaryFontColor);
   font-family: 'Mulish', sans-serif;
   font-size: 125%;
   border: none;
}

.detailsHardware p {
   margin: 0;
   margin-right: 3%;
}
.detailsHardware:hover{
   border-bottom: 1px solid var(--backGroundColor);
}
.detailsHardware button:hover {
   background-color: var(--backGroundColor);
   color: var(--secondaryFontColor);
}

.saveZone {
   display: none;
   margin-top: 2%;
   height: 95%;
   width: 97%;
   align-items: center;
   justify-content: center;
   border: 2px solid var(--detailColor);
   border-style: dashed;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.saveZone p {
   margin: 0;
   font-family: 'Mulish', sans-serif;
   font-style: italic;
   font-size: 125%;
}

.hardwareItem {
   display: flex;
   height: 22%;
   width: 97%;
   border: solid 50em;
   border-radius: 5px;
   margin-top: 1.5%;
}

.compatible {
   border: 2px solid var(--compatible);
}

.malfunction {
   border: 2px solid var(--incompatible);
}

.incompatible {
   border: 2px solid var(--errorColor);
}

.hardwareItemImg {
   height: 70%;
   width: 47%;
   margin: 5%
}

.imagePiece {
   border-radius: 5px;
   height: 100%;
   width: 100%;
}

.HardwareItemBody {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.hardwareItemTitle {
   text-align: center;
   font-family: 'Mulish', sans-serif;
   height: 20%;
   font-weight: bold;
   font-size: 100%;
   border-bottom: 1px solid var(--detailColor);
}

.HardwareItemText {
   height: 60%;
   font-family: 'Mulish', sans-serif;
   font-size: 100%;
}

.HardwareItemText ul {
   margin: 0% 0% 0% 8%;
   padding: 0%;
}

.HardwareItemBody button {
   height: 20%;
   border: none;
   background-color: var(--backGroundColor);
   color: var(--secondaryFontColor);
   font-size: 100%;
   font-family: 'Mulish', sans-serif;
}

.backButton {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 4%;
   margin-top: 2%;
   width: 99%;
   color: var(--primaryFontColor);
   background-color: var(--primaryColor);
   border: none;
   border-radius: 5px;
   font-size: 125%;
}

.backButton p {
   font-weight: bold;
   font-family: 'Mulish', sans-serif;
   margin: 0;
   margin-left: 2%;
}

.backButton:hover {
   background-color: var(--backGroundColor);
   color: var(--secondaryFontColor);
}