:root {
  --primaryColor: #62B0CB;
  --primaryColorHover: #479ebb;
  --errorColor: #ee8c73;
  --errorColorHover: #e48066;
  --compatible: #50c740;
  --incompatible: #ecea44;
  --primaryFontColor: #dfe3e8;
  --secondaryFontColor: #000000;
  --backGroundColor: #f4f5f6;
  --detailColor: #afafaf;
}

body{
  background-color: var(--backGroundColor);
  margin: 0.1%;
}

.main {
  display: grid;
  grid-template-areas:
    "hardware"
    "lateralMenu"
  ;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  padding: 5px;
}
